@media all and (min-device-width:320px) {
  body { font-size: 19px!important; }
  h1 { font-size: 24px!important; }
  embed, iframe, object { max-height: 10em!important; }
}
@media all and (min-device-width:768px) {
  body { font-size: 16px!important; }
  h1 { font-size: 21px!important; }
  embed, iframe, object { max-height: 20em!important; }
}
@media all and (min-device-width:1024px) {
  body { font-size:16px!important; }
  h1 { font-size: 21px!important; }
}
body{
	font-family: 'Quicksand', sans-serif;
}
