table, th, td{
	text-align: center;
    width:100%;
}

#playlist {
    position:absolute;
    right:3.5%; 
    top:92px; 
    bottom: 0;
    padding-left: 2%;
}
#playlist-name {
    width:100%;

}
#open-playlist-menu {
	float:right;
    width: 25%;
}
#table-page-buttons{
    float:right;
}
.playlist-menu{
	width:100%;
	margin: 10%;
}
ul { 
	list-style-type: none; 
	margin: 10%; 
	padding: 5%; 
	margin-bottom: 10%; 
}
li { 
	float: right;
    position: relative;
	margin: 3%; 
	padding: 2%; 
	width: 100%; 
	list-style-type:none;
}
li,
#save-playlist,
#add-playlist,
#delete-playlist,
td.add-to-playlist-button {
  cursor: pointer;

}

#save-playlist:hover,
#add-playlist:hover,
#delete-playlist:hover {

    border-radius: 25px;
    background: #f0f5f5;
    
}
li .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;

}
.playlist-action-buttons{
    width:100%;
}
#save-playlist{
    width:33%;
}
#add-playlist{
    width:33%;
}
#delete-playlist{
    width:33%;
}

/* debugging containers

#filters {
    border-radius: 25px;
    background: #eee8f3; 
    padding: 20px; 
}
#main {
    border-radius: 25px;
    background: #b2d8b2; 
    padding: 20px; 
}
#playlist {
    border-radius: 25px;
    background: #fb9c76;
    padding: 20px; 
}
#filters-and-table {
    border-radius: 25px;
    background: #5c4e6a; 
    padding: 20px; 
}*/


