table, th, td{
	text-align: center;
}
.top {
    position:absolute;
    left:3.5%; right:0;
    height: 92px;
}
.main {
    left:178px; top:92px; right:0; bottom:0;
    width: 80%;
}
.right {
    position:absolute;
    right:0; top:92px; bottom: 0;
    width: 20%;
}
