<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Your Youtube Music Library</title>
    {% endif %}
  </head>
  <body>
    <div>Other pages:  
      <a href="{{url_for('index')}}">Home</a>
       | <a href="{{url_for('playMusic')}}">Play Music</a>
       | <a href="{{url_for('listens')}}">Past Listens</a>
       | <a href="{{url_for('library')}}">Library</a>
       {% if session['session_user_id'] %}
        | <a href="{{url_for('revoke_token')}}">Logout 
        {% if session['google_id'] %}
          {{ session['google_id'] }} (Google)
        {% endif %}
        {% if session['github_id'] %}
          {{ session['github_id'] }} (GitHub)
        {% endif %}
        </a>
       {% endif %} 
    </div>
    <hr> 

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    

    {% block content %}{% endblock %} 
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </body>
</html>