{% extends "base.html" %}

{% block content %}

	<!--{% for item in sequence -%}-->
	<!--artist, song, album, year, genres (comma separated or checkbox), gen tags (comma separated), save to lib? (will still be saved to plays), love? hate? (required fields will only be artist and song OR album if they haven't already been stored for that vid_id. fill the fields if they exist in the db, and email me instead of posting to db if the fields are changed. --> 
	<!--hidden data that is passed will include user_id, vid_id, startTime, stopTime, datetimestamp-->

	<!--{%- endfor %}-->

	<!--scripts-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!--end scripts-->
  
{% endblock %}