{% extends "base.html" %}

{% block content %}
	<div class="top">
		{% if islistens == "true" %}
		<form id="searchdates" action="/listens" method="get">
		View Listens Between <input name="search_start_date" id="search_start_date" type="datetime"  value="{{search_start_date}}"> And <input name="search_end_date" id= "search_end_date" type="datetime"  value="{{search_end_date}}"><br>
		{% else %}
		<form id="searchdates" action="/library" method="get">
		{%endif%}
		Filter by 
		<input name="search_artist" id="search_artist" placeholder="Artist" value="{{search_artist}}">
		<input type="submit" value="Search" class="pure-button">
		</form>
		</div><br><br>
		{% if islistens == "true" %}
		<h3>Recent Listens:</h3>
		{%endif%}
		{% if islistens == "false" %}
		<h3>Your Library:</h3>
		{%endif%}

	
<!--updates:
make all textbox be search dropdown that fills with db table elements to make it harder to write one band name a million ways-->
	<div class="main">
		<form id="updatelistens" action="#">
			<table style="width:100%">
			  <tr>
			  	{% if islistens == "true"%}
			    <th>Time</th>
			    {%endif%}
			    <th>Playlist</th>
			    <th>Saved To Library</th>
			    <!--<th>Play</th> -->
			    <th>Verifed Music</th>
			    <th>Title</th>
			    <th>Artist</th> 
			    <th>Album</th>
			    <!--<th>Release Date</th> -->
			  </tr>
			  <div id="rows"></div>

			</table>

			<br><input type="submit" value="Submit Updates" class="pure-button">
		</form>
	</div>
	<div class="right">
		<!--<button id="open-playlist-menu" class="pure-button" img="http://www.clker.com/cliparts/G/O/h/M/m/c/cassette-audio-tape-hi.png" ></button>-->
		<input type="image" id="open-playlist-menu" src="http://www.clker.com/cliparts/G/O/h/M/m/c/cassette-audio-tape-hi.png" />
		<div class="playlist-menu">
			<form id="select-playlist-form" class="pure-form pure-form-stacked" methods="GET">
				<select name = "playlist_title" id="playlist-dropdown" class="pure-dropdown">
					<!--<option value="Select Playlist">Select Playlist</option>-->
					{% for title in playlist_titles %}
		  			<option value="{{title}}" {{'selected' if request.args.get('playlist_title') == title}}>{{title}}</option>
					{% endfor %}
		  		</select>
		  	</form>
		  	<form id="update-playlist-form" class="pure-form pure-form-stacked">
				<input type="text" id="playlist-name" value = "{{request.args.get('playlist_title') if request.args.get('playlist_title')}}" placeholder="Playlist Name">
				<input id="save-playlist" type="submit" value="Save" class="pure-button">
			</form>
			<ul id="sortable">
			{% for track in playlist_tracks %}
				<li id='playlist-{{track.youtube_id}}' class='ui-state-default' value='{{track.artist}} - {{track.title}}'>{{track.artist}} - {{track.title}}</li>
			{% endfor %}
			<!--append playlist list elements-->
			</ul>
		</div>
	</div>
	<hidden id = "islistens" value="{{islistens}}">
<!--https://jqueryui.com/draggable/#sortable-->
	<!--scripts-->
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/table.css') }}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  	<link rel="stylesheet" href="/resources/demos/style.css">
  	<!--<link rel="stylesheet" href="/resources/demos/style.css">!-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/displayupdatedata.js') }}"></script> 	
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<!--end scripts-->

  
{% endblock %}
