{% extends "base.html" %}

{% block content %}

	<center><div id="iframe"></div></center>
	

	<!--scripts-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery</script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/lastfm.js') }}"></script> 
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/play.js') }}"></script> 
	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	<!--end scripts-->
  
{% endblock %}