{% extends "base.html" %}

{% block content %}
	<h3>Recent Listens:</h3>
	<ol>
		{%for vid in listens_vid_data%}
		<li>Title: <input type="textbox" id=title value="{{vid[2]}}"> Artist: <input type="textbox" id="artist" value="{{vid[7]}}"> Album<input type="textbox" id="album" value="{{vid[8]}}"></li>
		{%endfor%}
	
	</ol>
	<input type="submit" value="Submit">
	<input type="submit" value="Play & Submit">

	<!--scripts-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!--end scripts-->
  
{% endblock %}