{% extends "base.html" %}

{% block content %}
	<h3>Recent Listens:</h3>
	<form class="updatelistens" action="#">
		<table style="width:100%">
	  <tr>
	    <th>Time</th>
	    <th>Play</th> 
	    <th>Add to Library</th>
	    <th>Check if Music</th>
	    <th>Title</th>
	    <th>Artist</th> 
	    <th>Album</th>
	    <th>Track Number</th>
	    <th>Release Date</th> 
	  </tr>
		
		{%for vid in listens_vid_data%}
		<div class="row">
		<tr>
			<td>{{vid[1].strftime('%a %I:%M %p')}}</td> 
			<td><input type = "checkbox" id = "play" value = "{{vid[0]}}"></td>
			<td><input type = "checkbox" id = "library"></td> 
			<td><input type = "checkbox" id = "music" value = "{{vid[4]}}"></td> 
			<td><input type="textbox" id="title" value="{{vid[2]}}"></td> 
			<td><input type="textbox" id="artist" value="{{vid[7]}}"></td> 
			<td><input type="textbox" id="album" value="{{vid[8]}}"></td> 
			<td><select id="track_num"><option value ="null" />Select</option><option value = 0 />Full Album</option><option value =1 />1</option><option value =2 />2</option><option value =3 />3</option><option value = 4 />4</option><option value = 5 />5</option><option value = 6 />6</option><option value = 7 />7</option><option value = 8 />8</option><option value = 8/>8</option><option value = 9 />9</option><option value = 10 />10</option></select></td> 
			<td><input type="text" class="datepicker" id="release_date" value = "{{vid[5] if vid[5]}}"></td>
		</tr>
		<hidden id="youtube_id" value="{{vid[0]}}"></hidden>
		<hidden id="artist_id" value="{{vid[10]}}"></hidden>
		<hidden id="album_id" value="{{vid[11]}}"></hidden>
		</div>
		{%endfor%}
		</table>

		<input type="submit" value="Play Videos & Submit Updates">
	</form>

	<!--scripts-->
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/table.css') }}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/submitlistens.js') }}"></script> 	
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<!--end scripts-->

  
{% endblock %}