{% extends "base.html" %}

{% block content %}
	<div class="col-xs-18 col-md-12">
		<center><div id="iframe"></div></center>
	</div>
	<div class="col-xs-18 col-md-12">
		<center>
			<form action = "#" id="searchbar">
				<br><br>Enter keywords to find a song or album, here:<br>
				<input type = "text" id="keywords" size = "75"><br><br>
				<input type="submit" value="Submit" class="pure-button">
			</form>
		</center>
	</div>
	<div class="col-xs-18 col-md-12">
		<div class="col-xs-6 col-md-4">
			<h3> Played Videos: </h3>
			<ul>
			<div id="played-videos"></div>
			</ul>
		</div>
		<div class="col-xs-6 col-md-4">
			<h3>Search Results:</h3>
			<div id="search-results"></div>
			{% if vid_info %}
				<ul>
				{% for vid in vid_info %}
				<li>vid['title']</li>
				{% endfor %}
				</ul>
			{% endif %}
		</div>

		<div class="col-xs-6 col-md-4">
			<h3>Related Videos:</h3>
			<div id="related-videos"></div>
		</div>
	</div>

	<!--scripts-->
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/play.css') }}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery</script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/lastfm.js') }}"></script> 
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/play.js') }}"></script> 
	<!--<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/play.js') }}"></script>-->
	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	<!--end scripts-->
  
{% endblock %}