{% extends "base.html" %}

{% block content %}

	<div class = "row" >
		<center><div id="iframe"></div></center>
		<h5> You have played: </h5>
		<div id="record_plays"></div>
		<form action = "#"" id="searchbar">
			<br><br>Enter keywords to find a song or album, here:<br>
			<input type = "text" id="keywords" size = "75"><br><br>
			<input type="submit" value="Submit">
		</form>
		<div id="selectedvideos"></div>
		{% if vid_info %}
			<ul>
			{% for vid in vid_info %}
			<li>vid['title']</li>
			{% endfor %}
			</ul>
		{% endif %}
    </div>

	<!--scripts-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery</script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/search.js') }}"></script> 
	<!--<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/play.js') }}"></script>-->
	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	<!--end scripts-->
  
{% endblock %}