{% extends "base.html" %}

{% block content %}

	<center><div id="iframe"></div>
	<form action = "#" id="searchbar">
		<br><br>Enter keywords to find a song or album, here:<br>
		<input type = "text" id="keywords" size = "75"><br><br>
		<input type="submit" value="Submit" class="pure-button">
	</form>
	</center>
	<div class="triple-columns">
		<div class="plays-column">
			<h3> Played Videos: </h3>
			<ul>
			<div id="record_plays"></div>
			</ul>
		</div>
		<div class="search-column">
			<h3>Selected Videos:</h3>
			<div id="selectedvideos"></div>
			{% if vid_info %}
				<ul>
				{% for vid in vid_info %}
				<li>vid['title']</li>
				{% endfor %}
				</ul>
			{% endif %}
		</div>

		<div class="related-column">
			<h3>Related Videos:</h3>
			<div id="relatedvideos"></div>
		</div>
	</div>

	<!--scripts-->
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/play.css') }}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery</script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/lastfm.js') }}"></script> 
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/play.js') }}"></script> 
	<!--<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/play.js') }}"></script>-->
	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	<!--end scripts-->
  
{% endblock %}