{% extends "base.html" %}

{% block content %}
	<h2>Overview</h2>
		<p>.....</p>

	<h2>Crunching The Numbers</h2>
	<div class="col-xs-9 col-md-6" >
		<br>
		<p>
		  <h4><b>Select Date Range</b></h4>
		  <br>
		  <input type="text" id="date-range-text" size="100"/>
		  <!--<input type="text" id="amount" style="border: 0; color: rgb(33,102,182); font-weight: bold;" size="100"/>-->
		</p>
		<div id="slider-range"></div>
	</div>
	<div class="col-xs-9 col-md-6">
	</div>
	<div class="col-xs-18 col-md-12">
		<br><br>
		<div id="listens-by-week-graph">
		</div>
	</div>
	<div class="col-xs-18 col-md-12">
		<div class="col-xs-9 col-md-6">
			<div id="genre-chart" > 
			</div>
		</div>
		
		<div class="col-xs-9 col-md-6">
			<div class="col-xs-18 col-md-12">
				<h4><b>Most Listened Genres</b></h4>
				<br><br>
				<ol id="genre-list">
				</ol>
			</div>
		</div>	
	</div>
	<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/trends.css') }}">
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/trends.js') }}"></script>


  
{% endblock %}