{% extends "base.html" %}

{% block content %}
	<h2>Overview</h2>
		<p>.....</p>

	<h2>Crunching The Numbers</h2>
	<div id="listens-by-week-graph" class="col-xs-18 col-md-12"></div>
	
	<div class="col-xs-18 col-md-12">
		<div id="myDiv" class="col-xs-12 col-md-8"> 
		</div>
		
		<div class="col-xs-6 col-md-4">
			<div class="col-xs-18 col-md-12">
				<h5>Your Most Listened Genres</h5>
				<ol>
				{% for genre in top_genres %}
					<li>{{genre}}</li>
				{% endfor %}
				</ol>
			</div>
		</div>
		
	</div>
	<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/trends.css') }}">
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/trends.js') }}"></script>


  
{% endblock %}